* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #2d2424;
}

h1,
h2,
li,
p {
  color: #5c3d2e;
  text-align: center;
}

li,
a,
p {
  color: #b85c38;
}

li {
  line-height: 1.8;
}

ul {
  list-style: none;
}

ol {
  list-style: upper-roman;
}

a:hover {
  color: #e0c097;
  font-weight: bold;
}

img {
  width: 400px;
  height: auto;
  padding-left: 50%;
  margin-left: -200px;
}
